<div class="card-trip">
  <%= cl_image_tag @list.picture_url.key %>
  <div class="card-trip-infos">
    <div>
      <h1> <%= @list.name %> </h1>
    </div>
  </div>
</div>

<%= link_to  "Delete list", list_path(@list), data: {confirm: "Are you sure?", method: :delete}, class: "ml-3 text-danger" %>

<div class="container my-5">
  <div class="row">
    <h2>Bookmarks</h2>
      <ul>
        <% @list.bookmarks.each do |i| %>
          <li><%= i.movie.title %></li>
          <p>
            "<%= i.comment %>"
            <%= link_to bookmark_path(i), method: :delete, data: { confirm: "Are you sure?" }, class: "ml-3 text-danger" do %>
              <i class="fas fa-eraser"></i>
            <% end %>
        <% end %>
      </ul>
  </div>
  <%= link_to  "Create Bookmark", new_list_bookmark_path(@list), class: "ml-3 text-primary" %>
</div>




